*.c
*.la
*.lo
*.o
*.stamp
.deps
.dirstamp
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h*
config.log
config.status
config.sub
configure
depcomp
foobot
install-sh
libtool
ltmain.sh
m4
missing
stamp-h1
